@using Kiddy.Models;

@model UsersRegister
@{
    ViewData["Title"] = "Index";
    int no = 0;

    string error = ViewBag.error ?? string.Empty;
    string statusCode = ViewBag.StatusCode ?? string.Empty;
    string message = ViewBag.Message ?? string.Empty;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <ul>
                    <li><a href="@MVC.User.Index()">Shape List</a></li>
                    <li><a href="@MVC.Admin.Index()">User List</a></li>
                    <li><a href="@MVC.Admin.CreateAdmin()">Create User / Admin</a></li>
                </ul>
            </div>
            <div class="col">
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(m => m.UserID, new { @placeholder = "Username" });
                    @Html.PasswordFor(m => m.password, new { @placeholder = "Password" });
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })

                    <div class="login-btn">

                        <input type="submit" name="red-submit" value="Submit" />

                    </div>

                    @Html.ValidationSummary(false, string.Empty, new { style = "color:red" });
                }

            </div>
        </div>
    </div>


    <script>
        if ('@error' != '')
        {
            confirm_dialog('@error', 'Error', '', null);
        }
        if('@statusCode' != @string.Empty){
            alert(@message);
        }


    </script>
</body>
</html>
