@using Kiddy.Models;

@model UserResponse[]
@{
    ViewData["Title"] = "Index";
    int no = 0;

    string error = ViewBag.error ?? string.Empty;
    string statusCode = ViewBag.StatusCode ?? string.Empty;
    string message = ViewBag.Message ?? string.Empty;
}

<h1>Index</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <ul>
                <li><a mvc-action="MVC.User.Index()">Shape List</a></li>
                <li><a mvc-action="MVC.Admin.Index()">User List</a></li>
                <li><a mvc-action="MVC.Admin.CreateAdmin()">Create User / Admin</a></li>
            </ul>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>Action</th>
                        <th>User ID</th>
                        <th>Email</th>
                        <th>Created By</th>
                        <th>Created On</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@no</td>
                                <td><a mvc-action="MVC.Admin.Details(item.ID)">Edit</a> || <a href="#">Delete</a></td>
                                <td>@item.UserID</td>
                                <td>@item.Email</td>
                                <td>@item.CreatedBy</td>
                                <td>@item.CreatedOn</td>
                            </tr>
                            @(no++);
                        }

                    }
                    else
                    {
                        <tr>
                            <td>No Data To Be Displayed</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
        if ('@error' != '')
        {
            confirm_dialog('@error', 'Error', '', null);
        }
        if('@statusCode' != @string.Empty){
            alert(@message);
        }


</script>